/* --- BOTH --- */
h6 {
	padding-top: 6rem;
}

/* --- LOGO DESIGN PAGE --- */
#logo_design div img {
	width: 70%;
	vertical-align: center;
	padding: 1.5rem;
	padding-left: 7rem;
}

.row.content.revisions {
	padding-bottom: 5.5rem;
}

/* --- ADDITIONAL PAGE --- */
.add img {
	width: 70%;
}

.row.half-half {
	padding-top: 10rem;
	padding-bottom: 20rem;
}


/* --- MEDIA QUERIES --- */

@media (max-width: 1000px) {
	.caption.additional {
		padding-left: 10rem;
	}

	.caption.additional.middle {
		padding-left: 13rem;
	}

	.row.half-half {
		padding-top: 5rem;
		padding-bottom: 15rem;
	}
}


@media (max-width: 870px) {
	.row.half-half {
		padding-top: 2rem;
		padding-bottom: 10rem;
	}
}

@media (max-width: 600px) {
	#logo_design div img {
		padding-left: 6rem;
	}
}

@media (max-width: 500px) {
	#logo_design div img {
		padding-left: 4.5rem;
	}
}
