/* --- BOTH --- */
h6 {
	padding-top: 6rem;
}

/* --- LOGO DESIGN PAGE --- */
#logo_design div img {
	display: block;
	margin-right: auto;
	margin-left: auto;
	width: 50%;
}

.row.content.revisions {
	padding-bottom: 15rem;
}

/* --- ADDITIONAL PAGE --- */
.add img {
	width: 70%;
}

.row.half-half {
	padding-top: 10rem;
	padding-bottom: 20rem;
}


/* --- MEDIA QUERIES --- */

@media (max-width: 1000px) {

	.row.half-half {
		padding-top: 5rem;
		padding-bottom: 15rem;
	}
}


@media (max-width: 870px) {
	.row.half-half {
		padding-top: 2rem;
		padding-bottom: 10rem;
	}
}

@media (max-width: 600px) {

}

@media (max-width: 500px) {

}
