/* ---- Z-INDECES ---- */

.toc-main {
    z-index: 99;
}

nav {
    z-index: 1;
}

.cs-content, #bottom-cs-next {
    z-index: 50;
}


/* ---- TEXT STYLING ---- */

body {
    line-height: 2.5rem;
    font-weight: 100;
}

p {
    clear: both;
    line-height: 3rem;
}

ul {
    padding-left: 30px;
}

.container {
    padding-top: 3rem;
    padding-bottom: 3rem;
}

.even {
    background-color: #F6F6F6;
}

.content {
    margin-left: 18rem;
    margin-right: 18rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}



/* -- TITLE -- */
h5 {
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
}

h6 {
    padding-top: 5rem;
    text-align: left;
    font-weight: 400;
    color: #CAA478;
    text-transform: uppercase;
}

/* ---- NAVIGATION ---- */
nav,
main {
    position:relative;
}

.navbar.container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar-toc {
    z-index: 99;
    background-color: #F6F6F6;
    /*border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;*/
}

.navbar-list {
    list-style: none;
    position: sticky;
}

.navbar-list a {
    float: left;
    display: block;
    text-align: center;
    font-weight: 300;
    line-height: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    margin-right: 20px;
    line-height: 4rem;
    font-size: 1.25rem;
}

.navbar-toc a.active {
    transition: all .3s ease-in;
    color: #CAA478;
    font-weight: 600;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;
}

/* #stickymenu {
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    display: inline;
}

#stickymenu + .content {
    padding-top: 60px;
} */



/* ---- HERO ---- */

.fadeInDown {
    text-align: center;
}

.fadeInDown i {
    opacity: 0.5;
}

.hero img {

}

/* ---- INTRO ---- */
/* ---- CHALLENGE ---- */
/* ---- RESEARCH ---- */
/* ---- STRATEGY ---- */
/* ---- DEVELOPMENT ---- */
/* ---- CONCLUSION ---- */
.bottom {
    padding-left: none;
    padding-right: none;
}

/* ----- MEDIA QUERIES WIDTH ---*/
@media (max-width: 1100px) {
    .content {
        margin-left: 15rem;
        margin-right: 15rem;
    }
}

@media (max-width: 970px) {
    h5 {
        font-size: 2rem;
    }

    .navbar-list a {
        margin-right: 19px;
        font-size: 1rem;
    }
    .navbar-list {
        text-align: center;
    }

    .content {
        margin-left: 10rem;
        margin-right: 10rem;
    }

}

@media (max-width: 930px) {
    h5 {
        text-align: left;
        font-weight: 300;
        font-size: 2rem;
    }
}

@media (max-width: 800px) {
    .content {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    h5 {
        font-size: 1.75rem;
    }
}

@media (max-width: 750px) {
    body {
        font-size: 1.25rem;
    }
}

@media (max-width: 600px) {
    .content {
        margin-left: 0;
        margin-right: 0;
    }


}