/* ---- Z-INDECES ---- */

.toc-main {
    z-index: 99;
}

nav {
    z-index: 1;
}

.cs-content, #bottom-cs-next {
    z-index: 50;
}


/* ---- TEXT STYLING ---- */

body {
    line-height: 2.5rem;
    font-weight: 100;
}

p {
    clear: both;
    line-height: 3rem;
}

.indent {
    padding-left: 30px;
}

.container {
    padding-top: 3rem;
    padding-bottom: 5rem;
}

.even {
    background-color: #F6F6F6;
}

.content {
    margin-left: 18rem;
    margin-right: 18rem;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

.left {
    float: left;
}

.right {
    float: right;
}



/* -- TITLE -- */
h5 {
    text-align: left;
    font-weight: 400;
    text-transform: uppercase;
}

h6 {
    padding-top: 5rem;
    text-align: left;
    font-weight: 400;
    color: #CAA478;
    text-transform: uppercase;
}

/* ---- BUTTON ---- */
.button-row {
    text-align: center;

}

/* ---- GIF ---- */
.gif {
    max-width: 80%;
}

.gif-flinto {
    max-width: 50%;
    padding-left: 13rem;
}

.gif-xsm {
    max-width: 60%;
}


/* ----- SCROLL TO TOP 
#return-to-top {
    position: fixed;
    bottom: 2.625rem;
    right: 1rem;
    -webkit-border-radius: 99;
    -moz-border-radius: 99;
    border: none;
    display: none;
    z-index: 100;
    width: 2.625rem;
    text-align: center;
    text-transform: uppercase;
}

#return-to-top i {
    font-size: 2rem;
}

#return-to-top i, #return-to-top span {
    position: relative;
    left: 0;
    top: 0;
    opacity: 0.75;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
} 

#return-to-top span {
    top: -6px;
    font-weight: 400;
    font-size: 0.85rem;
    letter-spacing: 0.01rem;
}

#return-to-top:hover span {
    top: -6px;
    opacity: 1;
}

#return-to-top:hover i {
    top: -3px;
    color: mediumvioletred;
    opacity: 1;
}

/* ---- NAVIGATION ---- */
/*nav,
main {
    position:relative;
} */


.hero-content.container {
    padding-top: 9rem;
    padding-bottom: 1rem;
}

.navbar.container {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
}

.navbar-toc {
    z-index: 99;
    background-color: #F6F6F6;
    /*border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;*/
}

.navbar-list {
    list-style: none;
    position: sticky;
}

.navbar-list a {
    float: left;
    display: block;
    text-align: center;
    font-weight: 300;
    line-height: 2.5rem;
    text-transform: uppercase;
    letter-spacing: .15rem;
    margin-right: 20px;
    line-height: 4rem;
    font-size: 1.25rem;
}

.navbar-toc a.active {
    transition: all .3s ease-in;
    color: #CAA478;
    font-weight: 600;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.sticky + .content {
  padding-top: 60px;
}

/* #stickymenu {
    overflow: hidden;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    width: 100%;
    display: inline;
}

#stickymenu + .content {
    padding-top: 60px;
} */



/* ---- HERO ---- */

.fadeInDown {
    text-align: center;
}

.fadeInDown i {
    opacity: 0.5;
}

.hero img {

}

/* ---- CAPTIONS ---- */
.caption {
    font-size:1rem;
    text-align:center;
}

/* ---- CHALLENGE ---- */
/* ---- RESEARCH ---- */
#research img {
    width: 80%;
    padding: 0 3rem;
}

/* ---- STRATEGY ---- */
.personas img {
    width: 80%;
}

.personas.one {
    float: right;
}

.personas {
    text-align: center;
    padding-top: .5rem;
}

/* ---- DEVELOPMENT ---- */

#development {
    padding-bottom: 3.5rem;
}
.center {
    text-align: center;
}

.half-half.one-half {
    display: inline-block;
    vertical-align: middle;
    box-sizing: border-box;
}

.row.half-half {
    padding-top: 2rem;
    padding-bottom: 15rem;
}




.clearfix {
    overflow: auto;
}

.imgN img {
    float: right;
    width: 60%;
}

.imgF img {
    float: right;
    width: 80%;
}


/* ---- SOLUTION ---- */

.features {
    padding-top: 5rem;
    padding-bottom: 5rem; 
}

/* ---- CONCLUSION ---- */
.toby {
    padding: 2rem 10rem;
    width: 50%;
}

/* ---- UP NEXT ---- */


.up_next h6 {
    text-align: center;
    padding-top: .5rem;
}

.up_next.content {
    margin-top: 0;
    margin-bottom: 0;
}

.up_next.container {
    padding-top: 0;
    width: 100%;
}

.bottom {
    text-align: center;
    padding: 0 2rem;
}

.bottom img {
    width: 30%;
}



/* -- Everseed CS --*/


.contact-everseed {
    bottom: 0;
    right: 0;
    position: fixed;
    width: 100%;
}

.inprogress {
    text-align: center;

}




/* ----- MEDIA QUERIES WIDTH ---*/
@media (max-width: 1470px) {

}

@media (max-width: 1200px) {
    .gif-flinto {
        padding-left: 11rem;
        max-width: 60%
    }
}

@media (max-width: 1100px) {
    .content {
        margin-left: 15rem;
        margin-right: 15rem;
    }
}

@media (max-width: 1000px) {
    h5 {
        text-align: left;
        font-weight: 300;
        font-size: 2rem;
    }

    .textN, 
    .textF {
        font-size: 1.25rem;
    }



}

@media (max-width: 970px) {
    h5 {
        font-size: 2rem;
    }

    .navbar-list a {
        margin-right: 19px;
        font-size: 1rem;
    }
    .navbar-list {
        text-align: center;
    }

    .content {
        margin-left: 10rem;
        margin-right: 10rem;
    }

    .textN {
        padding-top: 0;
        padding-bottom: 0;
        padding-right: 0; 

    }

}






@media (max-width: 870px) {
    .content {
        margin-left: 5rem;
        margin-right: 5rem;
    }

    body {
        font-size: 1.25rem;
    }

    h5 {
        font-size: 1.75rem;
    }


    .one-half.column.imgF,
    .one-half.column.imgN {
        text-align: center;
    }

    .one-half.column.feature {
        width: 95%;
        padding-left: 5rem;
        padding-right: 2rem;
        margin: 1.5rem;
    } 

    .imgN img,
    .imgF img {
        float: none;
    }

    .row.half-half {
        padding-top: 2rem;
        padding-bottom: 8rem;
    }


    /*.one-half.column.logo,
    .one-half.column.links-container {
        margin: 0;
        width: 48%;
    } */

}

@media (max-width: 800px) {
    .gif-flinto {
        padding-left: 8rem;
        max-width: 70%
    }
}

@media (max-width: 750px) {

}

@media (max-width: 650px) {
    .content {
        margin-left: 0;
        margin-right: 0;
    } 

    .one-half.column.feature {
        padding-left: 0rem;
        padding-right: 0rem;
    } 

    .toby {
        padding: 2rem 8rem;
    }  

    .gif-flinto {
        padding-left: 7rem;
    }

}

@media (max-width: 550px) {
    .personas img {
        width: 40%;
    } 

    .hero-content.container {
        padding-top: 13rem;
    }



}

@media (max-width: 500px) {
    .gif-flinto {
        max-width: 60%;
    }
}
