#casestudies, #about, #contact {
    z-index: 1;
}

.about {
    padding: 5rem 0;
}

.container {
    padding: 5rem 0;
    max-width: 1200px;
}

.button-row a, a.button-two {
    color: #FFF;
}



/*.hero, .about, .links-container ul, nav, .projects {
    padding-left: 1rem;
    padding-right: 1rem;

}

 ----- NAV 

nav {
    padding-bottom: 10px;
    background: #F6F6F6;
    display: inline-block;
}

.links-container {
    position: relative;
    float: right;
    padding: 1rem;
    margin: 0;
}

.links-container ul {
    float: right;
    margin: 0;
    margin-right: -2.625rem;
}

.links-container li {
    list-style-type: none;
    display: table-cell;
    margin: 0; 
    padding: 0;
}

.links-container li a {
    font-size: 14px;
    color: #4A4A4A;
    padding: 0.75rem 0.75rem;
    margin: 0;
    border: none;
    font-weight: 300;
    letter-spacing: 0.07rem;
}
----- */

/* ----- HERO ----- */

.hero {
    padding-top: 10rem;
}

.hero-content {
    text-align: center;
    background-color: transparent;
    transition: all 5s ease-in;
}

h1 {
    font-weight: 400;
}

h3 {
    text-align: left;
    font-weight: 500;
}

p {
    line-height: 3rem;
}

.scroll {
    background: transparent;
    margin-bottom: -80px;
}



.parallax {
    /* The image used */
    background-image: url("../assets/index/bridge.png");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center 350px;
    background-repeat: no-repeat;
    background-size: 800px;
    height: 40vh;
    padding-top: 40vh;
}

.clouds {
    background-color: transparent;
    height: 20vh;
    width: 100%;
}

/* ----- Animated ----- */

.fold.animated {
    animation-delay: .75s;
}

#home .animated.fadeIn {
    animation-duration: 3s;
}

{
    -webkit-animation: 1.5s ease 0s normal forwards 1 fadein;
    animation: 1.5s ease 0s normal forwards 1 fadein;
}

@keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes fadein{
    0% { opacity:0; }
    66% { opacity:0; }
    100% { opacity:1; }
}

/* animation }
.es-ani {
    opacity: 0;
    visibility: hidden;
    -webkit-transform: translateY(150px);
    -ms-transform: translateY(150px);
    transform: translateY(150px);
    transition: visibility 1s, opacity 1s, -webkit-transform 1s;
    transition: transform 1s, visibility 1s, opacity 1s;
    transition: transform 1s, visibility 1s, opacity 1s, -webkit-transform 1s;
}

.cs-section .section__content.animated-in > *, .section .section__aside.animated-in {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
    opacity: 1;
    visibility: visible;

*/



/* ----- SPACE ----- */
.space-30 {
    padding-top: 30rem;
}

.space-20 {
    padding-top: 20rem;
}

.space-10 {
    padding-top: 10rem;
}

.space-5 {
    padding-top: 5rem;
}

/* ----- CASE STUDIES ----- */

#happypaws #logo {
    width: 175px;
} 
#everseed #logo {
    width: 125px;
    padding-bottom: 10px;
    margin-left: -5px;
} 

.section { 
    padding: 67px 0 61px; 
    min-height: 100vh; 
    display: flex; 
}

.section .section__inner { 
    display: -webkit-flex; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-align-items: center; 
    -ms-flex-align: center; 
    align-items: center; 
}



.shell { 
    max-width: 1190px; 
    padding-left: 20px; 
    padding-right: 20px; 
    margin: auto; 
}
.shell-fluid { 
    max-width: none; 
}


.wrapper { 
    min-height: 100vh; 
    position: relative; 
    overflow: hidden; 
}
------
.cs-section {
    margin: 5rem;
}

.cs-section p {
    font-size: 18px;
}

#casestudies {
    padding-top: 10rem;
}

.cs-padding {
    padding: 5rem;
}

/* happypaws */
.break {
    display: none;
}

#happypaws {
    background-image: url("../assets/cs-happypaws/homepage_twist_3.png");
    margin-bottom: 5rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center bottom;
    height: 700px;
    
}

#happypaws .cs.one-half.column.img img {
    float: left;
}

#happypaws .cs.one-half.column.text {
    padding-top: 20rem;
    padding-left: 20px;
    padding-right: 20px;
}



/* everseed */
#everseed {
    background-image: url("../assets/cs-everseed/homepage_background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 800px;
    color: #FFF;
}

#everseed .cs.one-half.column.text {
    padding-top: 18rem;
    padding-left: 20px;
    padding-right: 20px;
}

#everseed .cs.one-half.column.img img {
    float: right;
    padding-top: 10rem;
    width: 110%;
}


/* ----- CASE STUDIES 

.para {
    font-size: 1.25rem;
    text-align: center;
    padding-bottom: 10rem;
    padding-left: 3.5rem;
    padding-right: 3.5rem;
} 

.projects.para {
    text-align: center;
} ----- */

/* .projects.case {
    -webkit-transition: all 0.1s ease-in;
    -moz-transition: all  0.1s ease-in;
    -ms-transition: all  0.1s ease-in;
    -o-transition: all  0.1s ease-in;
    transition: all  0.1s ease-in;
}
*/


/* ----- ABOUT ----- */


.bio-text p {
    line-height: 2.5rem;
    margin-left: 5rem;
}

.bio img {
    display: block;
    margin-right: auto;
    margin-left: auto;
    width: 30%;

}

.more {
    text-align: center;
    padding-top: 5rem;
}

.divider {
    width: 2rem;
    height:auto;
    display:inline-block;
}






/* ----- MEDIA QUERIES WIDTH ---*/
@media (min-width: 1645px) {
    .top-cs {
        margin-top: 27rem;
    }


}

@media (max-width: 1645px) {
    .top-cs {
        margin-top: 10rem;
    }
}

@media (max-width: 1400px) {

    #everseed { 
        height: 700px;
    }

    #everseed #logo {
        margin-left: -6px;
    } 

    #happypaws .cs.one-half.column.img img {
        padding-top: 10rem;
    }

}




@media (max-width: 1310px) {
    .hero {
        font-size: 16px;
        letter-spacing: 0rem;
    }

    .para {
        padding-left: 1.5rem;
        padding-right: 1.5rem;
    }

    .break {
        display: block;
    }


    .top-cs {
        margin-top: 0rem;
    }

} 


@media (max-width: 1065px){
    .parallax {
        background-size: 75%;
        height: 35vh;
    }

    .bio-text p {
        font-size: 16px;
        margin-left: 3rem;
    }


    #happypaws .cs.one-half.column.img img {
        padding-top: 16rem;
    }

    #everseed .cs.one-half.column.text {
        padding-top: 14rem;
    }

    #everseed .cs.one-half.column.img img {
        padding-top: 12rem;
    }

}

@media (max-width: 1000px) {
    .cs-section p {
        font-size: 16px;
    }

    h3 {
        font-size: 3rem;
    }

    .break {
        display: none;
    }

    #everseed { 
        height: 650px;
    }

}

@media (max-width: 925px) {
    h2 {
        font-size: 3rem;
    }

    .hero h1 {
        font-size: 4rem;
    }

    .hero h5 {
        font-size: 2rem;
    }

    .parallax {
        background-size: 70%;
        height: 20vh;
    }
    
    .case.four.columns {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 80%;
    } 

    .case-contents img {
        padding-bottom: 2rem;
    }

    .short.six.columns {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 100%;
    } 

    .bio-text {
        padding: 0 5rem;
    }

    .bio-pic {
        padding-bottom: 4rem;
        margin-right: auto;
        margin-left: auto;
        float: none;
    }

}

@media(max-width: 850px) {

    #happypaws {
        background-position: center;
        height: 1000px;
    }
    #everseed { 
        height: 1000px;
    }

    #happypaws .cs.one-half.column.img img {
        padding-top: 3rem;
        float: none;
        width: 75%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    #happypaws .cs.one-half.column.text {
        padding-top: 6rem;
    }

    #everseed .cs.one-half.column.img img {
        float: none;
        padding-top: 5rem;
        display: block;
        margin-left: -20px;
        margin-right: auto;
    }

    #everseed .cs.one-half.column.text {
        padding-top: 3rem;
    }

    .cs.one-half.column,
    .cs.one-half.column h3 {
        width: 100%;
        text-align: center;
    }

    .one-half.column  {
        margin-left: 0%;
    }

    #happypaws #logo {
        width: 125px;
    } 
    #everseed #logo {
        width: 110px;
        margin-left: 0px;
    } 



}


@media(max-width: 800px) {

    .hero h1 {
        font-size: 30px;
    }

    .hero h5 {
        font-size: 18px;
    }

    .indent {
        display: none;
    }


}

@media(max-width: 750px) {

    #happypaws {
        background-position: center;
        height: 900px;
    }
    #everseed { 
        height: 900px;
    }
}


@media (max-width: 675px) {

    .parallax {
        background-size: 60%;
    }

    .container.hero-content {
        max-height: 900px;
    }

    .hero h5 {
        padding: 0 1rem;
        font-size: 16px;
    }

    .bio-text {
        padding: 0;
    }

}

@media(max-width: 600px) {
    #happypaws {
        height: 725px;
    }
    #everseed { 
        height: 850px;
    }
}


@media (max-width: 550px) {
    body {
        font-size: 16px;
    }

    .hero {
        padding-top: 12rem;
        padding-bottom: 0;
    }

    .parallax {
        background-size: 65%;
        background-position: center 400px;
    }

    .scroll {
        padding-top: 30px;
    }

    .bio-pic {
        padding-top: 5rem;
        width: 50%;

    }

    .divider {
        width: 1rem;
    }

    .container.hero-content {
        max-height: 600px;
    }

    .parallax {
        background-position: center 450px;
    }

    .top-cs {
        margin-top: 30rem;
    }

    #happypaws .cs.one-half.column.img img {
        padding-top: 0rem;
    }

}

@media (max-width: 550px) {
    #everseed { 
        height: 800px;
    } 
}


@media (max-width: 500px) {
    #about .divider {
        display: block;
    }

}



@media (max-width: 350px) {
    .one-half.column.links-container ul {
        font-size: 16px;
        display: block;
    }

}